body {
display: flex;
justify-content: center;
align-items:center;
height: 100vh;
background-color: rgb(223, 8, 94);}

h1 {font-size: 15rem;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.letter {
transition: color 1000ms;}